span.article-type {
	display: inline-block;
	margin-top: 4px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
}

span.article-type.type-1 {
	color: #ca0c16;
	border: 1px solid #f4ced0
}

span.article-type.type-2 {
	color: #86ca5e;
	border: 1px solid #e7f4df
}

span.article-type.type-4 {
	color: #79a5e5;
	border: 1px solid #e4edfa
}
main {
	margin-bottom: 40px;
}

main div.blog-content-box {
	position: relative;
	padding: 0 24px 10px;
	background: #fff;
	/*-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);*/
	/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);*/
}

main div.blog-content-box .article-header-box {
	border-bottom: 1px solid #e0e0e0;
	padding-top: 16px;
	z-index: 9;
	background-color: #fff;
}

main div.blog-content-box .article-header-box .jump_article {
	display: none;
}

main div.blog-content-box .article-header-box .jump_article .related-article {
	margin-bottom: 12px;
	height: 26px;
	line-height: 26px;
}

main div.blog-content-box .article-header-box .jump_article .related-article a {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 26px;
	font-weight: bold;
}

main div.blog-content-box .article-header-box .jump_article .related-article a span {
	margin-right: 14px;
	padding: 4px 6px;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 18px
}

main div.blog-content-box .article-header-box .article-header div.article-title-box {
	margin-bottom: 8px;
}

main div.blog-content-box .article-header-box .article-header div.article-title-box span.article-type {
	margin-right: 8px;
	margin-top: 4px
}

main div.blog-content-box .article-header-box .article-header div.article-title-box .title-article {
	font-size: 24px;
	word-wrap: break-word
}

main div.blog-content-box .article-header-box .article-header div.article-info-box {
	padding-bottom: 14px;
	position: relative;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top {
	color: #858585;
	width: 88%;
	height: 24px;
	overflow: hidden;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .follow-nickName {
	color: #78a5f1;
	margin-right: 14px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span {
	margin-right: 14px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-purple {
	color: #7c79e5
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-gray {
	color: #858585
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top span.c-red {
	color: #ca0c16
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top div.float-right {
	margin-left: auto
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box {
	margin-bottom: 8px;
	font-size: 12px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box.artic-tag-box a.tag-link {
	margin-right: 8px;
	padding: 0 8px;
	height: 21px;
	min-width: 24px;
	line-height: 21px;
	border: 1px solid #ccc;
	border-radius: 100px;
	color: #4d4d4d;
	text-align: center;
	margin-bottom: 4px;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box.artic-tag-box a.tag-link:hover {
	border-color: #ca0c16;
	color: #ca0c16
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box:last-child {
	margin-bottom: 0
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .tags-box span.label {
	color: #4d4d4d
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top .space {
	margin-top: 6px;
	margin-bottom: 4px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link {
	display: inline-block;
	margin-right: 24px;
	color: #79a5e5;
	word-wrap: break-word;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link:hover {
	color: #86aee8
}

main div.blog-content-box .article-header-box .article-header div.article-info-box div.article-bar-top a.tag-link:active {
	color: #5c91df
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating {
	position: absolute;
	top: 0;
	right: 0;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit {
	color: #79a5e5;
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit#btnSuperDel {
	margin-left: 14px
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit:hover {
	color: #86aee8
}

main div.blog-content-box .article-header-box .article-header div.article-info-box .operating a.href-article-edit:active {
	color: #5c91df
}

main div.blog-content-box .padding24 {
	padding-left: 24px;
	padding-right: 24px
}

main div.blog-content-box article {
	position: relative;
	padding-top: 16px;
}

main div.blog-content-box article .table-box {
	overflow-x: auto;
	margin-bottom: 24px;
}

main div.blog-content-box article .table-box table {
	margin-bottom: 0
}

main div.blog-content-box article * {
	word-wrap: break-word
}

main div.blog-content-box article img {
	cursor: -webkit-zoom-in;
	cursor: zoom-in
}

main div.blog-content-box article .article-copyright {
	font-size: 12px;
	color: #999;
	margin-bottom: 8px
}

main div.blog-content-box div.article-bar-bottom {
	padding-bottom: 16px;
	margin-top: 16px;
	border-bottom: 1px solid #e3e3e3;
	position: relative
}

main div.blog-content-box .article_info_click {
	margin-right: 0 !important;
	font-size: 12px;
	color: #3399ea;
	letter-spacing: 0;
	line-height: 20px;
	cursor: pointer;
	background-color: #fff;
	top: 0;
	right: 101px;
	width: 45px;
	display: inline-block
}

main div.blog-content-box div.article-ad {
	overflow: hidden;
	padding-top: 24px;
}

main div.blog-content-box div.article-ad > div {
	text-align: center
}

main div.blog-content-box div.related-article {
	margin-top: 18px;
	line-height: 28px;
	width: 48%;
	display: inline-block;
}

main div.blog-content-box div.related-article a:hover {
	color: #ca0c16;
}

main div.blog-content-box div.related-article a:hover span {
	border-color: #ca0c16;
	color: #ca0c16
}

main div.blog-content-box div.related-article.related-article-prev {
	margin-right: 16px;
}

main div.blog-content-box div.related-article.related-article-prev + .related-article-next {
	margin-top: 0
}

main div.blog-content-box div.related-article:last-child {
	margin-bottom: 0
}

main div.blog-content-box div.related-article > a > span {
	margin-right: 8px;
	padding: 6px 8px;
	font-size: 12px;
	border: 1px solid #e3e3e3;
	color: #4d4d4d
}

main .edu-promotion {
	margin-top: 8px;
	background: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05)
}

main .t0 {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 24px;
}

main .t0 h4 {
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 28px;
	color: #3d3d3d;
}

main .t0 h4 em {
	color: #ca0c16;
	font-style: normal
}

main .t0 .t0-img {
	float: left;
	width: 130px;
	margin-right: 32px
}

main .t0 .description {
	word-wrap: break-word;
	font-size: 14px;
	color: #999
}


.htmledit_views address,.htmledit_views cite,.htmledit_views dfn,.htmledit_views em,.htmledit_views i,.htmledit_views span[lang],.htmledit_views var {
	font-style: italic
}

.htmledit_views {
	font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,SimHei,SimSun
}

.cke_editable {
	margin: 24px;
	word-wrap: break-word
}

.htmledit_views img.right {
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px
}

.htmledit_views img.left {
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px
}

.htmledit_views .marker {
	background-color: #ff0
}

.htmledit_views figure {
	text-align: center;
	margin: 0 24px;
	display: inline-block
}

.htmledit_views figure>figcaption {
	text-align: center;
	margin: 8px;
	color: #999;
	font-size: 14px;
	display: block
}

.htmledit_views a>img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: #0782c1 solid 1px
}

.htmledit_views .code-featured {
	border: 5px solid red
}

.htmledit_views .math-featured {
	padding: 20px;
	box-shadow: 0 0 2px rgba(200,0,0,1);
	background-color: rgba(255,0,0,.05);
	margin: 10px
}

.htmledit_views .image-clean {
	border: 0;
	background: 0 0;
	padding: 0
}

.htmledit_views .image-clean>figcaption {
	font-size: .9em;
	text-align: right
}

.htmledit_views .image-grayscale {
	background-color: #fff;
	color: #666
}

.htmledit_views .image-grayscale img,.htmledit_views img.image-grayscale {
	filter: grayscale(100%)
}

.htmledit_views .embed-240p {
	max-width: 426px;
	max-height: 240px;
	margin: 0 auto
}

.htmledit_views .embed-360p {
	max-width: 640px;
	max-height: 360px;
	margin: 0 auto
}

.htmledit_views .embed-480p {
	max-width: 854px;
	max-height: 480px;
	margin: 0 auto
}

.htmledit_views .embed-720p {
	max-width: 1280px;
	max-height: 720px;
	margin: 0 auto
}

.htmledit_views .embed-1080p {
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto
}

.htmledit_views p {
	font-size: 16px;
	color: #4f4f4f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 16px;
	overflow-x: auto
}

p[align=center] {
	text-align: center
}

.htmledit_views img {
	max-width: 100%
}

.htmledit_views strong,.htmledit_views strong span {
	font-weight: 700
}

.htmledit_views * {
	box-sizing: border-box
}

.htmledit_views h1,.htmledit_views h2,.htmledit_views h3,.htmledit_views h4,.htmledit_views h5,.htmledit_views h6 {
	color: #4f4f4f;
	margin: 8px 0 16px;
	font-weight: 700
}

.htmledit_views ol,.htmledit_views ul {
	margin: 0 0 24px;
	padding: 0;
	font-size: 16px
}

.htmledit_views ul ol {
	margin: 0 0 24px 32px
}

.htmledit_views ul li {
	list-style-type: disc;
	margin: 8px 0 0 32px
}

.htmledit_views ol li {
	list-style-type: decimal;
	margin-left: 40px;
	margin-top: 8px
}

.htmledit_views h1 {
	font-size: 28px;
	line-height: 36px
}

.htmledit_views h2 {
	font-size: 24px;
	line-height: 32px
}

.htmledit_views h3 {
	font-size: 22px;
	line-height: 30px
}

.htmledit_views h4 {
	font-size: 20px;
	line-height: 28px
}

.htmledit_views h5 {
	font-size: 18px;
	line-height: 26px
}

.htmledit_views h6 {
	font-size: 16px;
	line-height: 24px
}

.htmledit_views blockquote {
	display: block;
	padding: 16px 16px 0;
	margin: 0 0 24px;
	border-left: 8px solid #dddfe4;
	background: #eef0f4;
	overflow: auto;
	overflow-scrolling: touch;
	word-wrap: normal;
	word-break: normal
}

.htmledit_views blockquote ol,.htmledit_views blockquote ul {
	margin-bottom: 16px;
	padding: 0;
	font-size: 16px;
	line-height: 24px
}

.htmledit_views blockquote ol li,.htmledit_views blockquote ul li {
	margin-bottom: 0
}

.htmledit_views blockquote p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	margin-bottom: 16px;
	color: #4f4f4f
}

.htmledit_views hr {
	margin: 24px 0;
	border: none;
	border-bottom: solid #ccc 1px
}

.htmledit_views table tr {
	border: 0;
	border-top: 1px solid #ddd;
	background-color: #fff
}

.htmledit_views table {
	border-collapse: collapse;
	display: table;
	width: 100%;
	text-align: left;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto
}

.htmledit_views tbody {
	border: 0
}

.htmledit_views table tr:nth-child(2n) {
	background-color: #f7f7f7
}

.htmledit_views table tr td,.htmledit_views table tr th {
	border: 1px solid #ddd;
	font-size: 14px;
	color: #4f4f4f;
	line-height: 22px;
	padding: 8px;
	text-align: left
}

.htmledit_views table tr td p,.htmledit_views table tr th p {
	font-size: 14px;
	color: #4f4f4f;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 22px
}

.htmledit_views table tr th p {
	font-weight: 700
}

.htmledit_views table tr td code,.htmledit_views table tr th code {
	white-space: normal;
	word-break: break-word
}

.htmledit_views table tr th {
	font-weight: 700;
	background-color: #eff3f5
}

.htmledit_views dl {
	margin: 24px
}

.htmledit_views dl dt {
	margin: 8px;
	font-weight: 700
}

.htmledit_views dl dt dd {
	margin: 8px
}

.htmledit_views abbr[data-original-title],.htmledit_views abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999
}

.htmledit_views .initialism {
	font-size: 90%;
	text-transform: uppercase
}

.htmledit_views pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 24px;
	overflow-x: auto;
	padding: 8px
}

.marker {
	background-color: #ff0
}

htmledit_views img.mathcode {
	margin: 0 8px
}

.htmledit_views kbd,.htmledit_views pre,.htmledit_views samp {
	font-family: Consolas,Inconsolata,Courier,monospace;
	font-size: 14px;
	line-height: 22px;
	color: #000
}

.htmledit_views code ol li div.hljs-ln-code,.htmledit_views code ol li div.hljs-ln-numbers,.htmledit_views pre code,.htmledit_views pre code div,.htmledit_views pre code span {
	font-family: "Source Code Pro","DejaVu Sans Mono","Ubuntu Mono","Anonymous Pro","Droid Sans Mono",Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,"PingFang SC","Microsoft YaHei",sans-serif
}

.htmledit_views code {
	border-radius: 4px
}

.htmledit_views a {
	color: #4ea1db;
	text-decoration: none
}

.htmledit_views a:focus,.htmledit_views a:hover {
	color: #ca0c16
}

.htmledit_views a:visited {
	color: #6795b5
}

.htmledit_views .footnote {
	vertical-align: top;
	position: relative;
	top: -4px;
	font-size: 12px
}

.htmledit_views .flow-chart,.htmledit_views .sequence-diagram {
	text-align: center;
	margin-bottom: 24px;
	font-size: 14px!important
}

.htmledit_views .flow-chart [fill="#000"],.htmledit_views .flow-chart [fill="#000000"],.htmledit_views .flow-chart [fill=black],.htmledit_views .sequence-diagram [fill="#000"],.htmledit_views .sequence-diagram [fill="#000000"],.htmledit_views .sequence-diagram [fill=black] {
	fill: #4f4f4f
}

.htmledit_views .flow-chart [stroke="#000000"],.htmledit_views .sequence-diagram [stroke="#000000"] {
	stroke: #4f4f4f
}

.htmledit_views .MathJax_SVG_Display {
	text-align: center;
	margin: 24px 0;
	font-size: 18px;
	font-weight: 400;
	color: #4f4f4f;
	position: relative;
	text-indent: 0;
	max-width: none;
	max-height: none;
	min-width: 0;
	min-height: 0;
	width: 100%
}

.htmledit_views pre code {
	display: block;
	line-height: 22px;
	overflow-x: auto;
	white-space: pre;
	word-wrap: normal;
	border-radius: 4px;
	padding: 8px
}

.htmledit_views pre code,.htmledit_views pre code div,.htmledit_views pre code span {
	font-size: 14px
}

.htmledit_views .prettyprint,.htmledit_views pre.prettyprint {
	margin: 0 0 24px;
	padding: 8px 16px 4px 56px;
	background-color: #f6f8fa;
	border: none
}

.htmledit_views .prettyprint .pre-numbering {
	position: absolute;
	width: 48px;
	background-color: #eef0f4;
	top: 0;
	left: 0;
	margin: 0;
	padding: 8px 0;
	list-style: none;
	text-align: right
}

.htmledit_views .pre-numbering li {
	padding: 0 8px;
	list-style: none;
	margin: 0
}

.htmledit_views dl dd {
	margin: 0 0 8px 40px
}

.htmledit_views kbd {
	padding: 2px 8px;
	border: 1px solid rgba(63,63,63,.25);
	box-shadow: 0 1px 0 rgba(63,63,63,.25);
	background-color: #fff;
	color: #333;
	border-radius: 4px;
	display: inline-block;
	margin: 0 2px;
	white-space: nowrap
}

.htmledit_views .dp-highlighter {
	font-size: 12px;
	text-align: left;
	margin: 0 0 24px
}

.htmledit_views code ol {
	margin: 0;
	overflow: hidden
}

.htmledit_views code ol li {
	list-style-type: none;
	margin-left: 0;
	margin-top: 0;
	height: 22px
}

.htmledit_views code ol li div.hljs-ln-code {
	margin-left: 8px
}

.htmledit_views code ol li div.hljs-ln-code,.htmledit_views code ol li div.hljs-ln-numbers {
	float: left;
	height: 22px
}

.htmledit_views code ol li div.hljs-ln-numbers {
	width: 24px;
	border-right: 1px solid #c5c5c5
}

.htmledit_views code ol li div.hljs-ln-numbers .hljs-ln-line {
	word-wrap: normal
}

.htmledit_views code ol.hundred li div.hljs-ln-numbers {
	width: 30px
}

.htmledit_views code ol.thousand li div.hljs-ln-numbers {
	width: 36px
}

.hljs {
	display: block;
	background: #f3f4f5;
	padding: 0.5em;
	color: #333333;
	overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
	color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
	color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
	color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
	color: #0086b3;
}

.hljs-section,
.hljs-name {
	color: #63a35c;
}

.hljs-tag {
	color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #795da3;
}

.hljs-addition {
	color: #55a532;
	background-color: #eaffea;
}

.hljs-deletion {
	color: #bd2c00;
	background-color: #ffecec;
}

.hljs-link {
	text-decoration: underline;
}
